{{#if productos.length}}
    <table>
        <tr>
            <th>Nombre</th>
            <th>precio</th>
            <th>imagen</th>
        </tr>
        {{#each productos}}
            <tr>
                
                <td>{{this.name_Produ}}</td>
                <td>{{this.Price}}</td>
                <td><img src="{{this.img}}" width="100" height="100"></td>
            </tr>
        {{/each}}    
    </table>
{{/if}}